In [5]:
numero1 = 5
numero2 = 10
numero3 = 15

In [2]:
print(numero1 > numero2)

False

In [3]:
print(numero1 < numero2)

True

In [7]:
print(numero3 == numero2)

False

In [8]:
print(numero2 != numero1)

True

In [28]:
altura1 = 1.64
altura2 = 1.67

In [33]:
altura3 = altura1 + altura2
altura4 = altura1 - altura2
altura5 = altura1 / altura2

In [29]:
print(altura3)

3.3099999999999996

In [32]:
print(altura4)

-0.030000000000000027

In [34]:
print(altura5)

0.9820359281437125

In [35]:
round (altura5)

1

In [39]:
input()

'Viviana ViÃ±als Ruiz'

In [65]:
name = "Maria "
surname = "Marina"

In [66]:
str.upper (name + surname)

'MARIA MARINA'

In [67]:
str.lower (name + surname)

'maria marina'

In [69]:
str.capitalize (name) + (surname)

'Maria Marina'

In [70]:
str.capitalize (name + surname)

'Maria marina'

In [92]:
lista_compra = input ("lista de compra")
print("peras, manzanas, fresas")

peras, manzanas, fresas